body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 20px 20px 80px 20px; /* espacio para el footer fijo */
}

p {
  text-align: justify;
}

h1, h2 {
  text-align: center;
}

#contenido {
  display: none;
}

.cloud-img {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  display: block;
}

.galeria_imagenes img {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  display: block;
}

.quote-section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  font-style: italic;

  /* Centrado del contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-section p {
  margin: 0 0 10px 0; /* espacio entre frase y botón */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #003366;
  color: white;
  padding: 10px;

  /* Centrado del texto */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FFCC00;
  color: #003366;
}
